@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover{
    color: #fff;
    text-decoration: none;
  }
}

#targetingBox{
  position:absolute;
  left:0;
  top:0;
  border:1px solid black;
  background-color: white;
  padding:5px 5px;
  display:none;
}

.main{
  position:relative;
  width:1024px;
  display:inline-block;
  top:-40px;
}

.wrapper{
  white-space:nowrap;
}

button{
  display:block;
}

.hiding{
  position:absolute;
  background-color:rgba(0,0,0,0.5);
}

.sideBar{
  margin-left:20px;
  position:relative;
  display:inline-block;
}

#waldo, #wizardo, #bandido{
  border:3px solid red;
}

.alert-custom{
  color:red;
  position:absolute;
  z-index: 10;
  border:2px solid black;
  background-color: white,
}
