<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <p id="logo"> WHERE'S WALDO</p>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "Help",   help_path %></li>
      <li><%= link_to "Github",   'http://github.com/atactionpark/odin_waldo' %></li>
    </ul>
  </nav>
  </div>
</header>